.login-body {
    background: #f3f4f6;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}

.login-container {
    background: white;
    padding: 25px;
    width: 350px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0,0,0,0.15);
    text-align: center;
}

.login-container h2 {
    margin-bottom: 20px;
}

.login-container input {
    width: 90%;
    padding: 12px;
    margin: 8px 0;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.login-container button {
    width: 95%;
    padding: 12px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background: #005fcc;
}

.error {
    color: red;
    margin-top: 10px;
}
